---
title: Damilola Odelola
---

<!-- Nav & About -->
      <div class=" bg-red-gradient  h-100 w-100">
        <!-- Desktop Nav -->
        <div class="container">
          <header class="hidden-xs">
            <div class="row">
              <div class="col-md-12">
                <ul class="inline-list nav navbar-fixed-top">

                  <li class="pull-left"><a href="#">DO</a></li>
                  <li class="pull-left"><a href="resume.pdf">Resumé</a></li>
                  <li class="pull-right"><a href="#contact">contact</a></li>
                  <li class="pull-right"><a href="#writing">writing</a></li>
                  <li class="pull-right"><a href="#coding">coding</a></li>
                  <li class="pull-right"><a href="#about">about</a></li>
                </ul>
              </div>
            </div>
          </header>

          <!-- Mobile Nav -->
          <header class="visible-xs">
            <div class="row">
              <div class="col-xs-6">
                <a class="fa fa-bars navbar-fixed-top dropdown-toggle mobile-nav-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="mob-nav"></a>
                <ul class="dropdown-menu navbar-fixed-top mobile-nav" aria-labelledby="mob-nav">
                  <li ><a href="resume.pdf">Resumé</a></li>
                  <li ><a href="#about">About</a></li>
                  <li ><a href="#coding">Coding</a></li>
                  <li ><a href="#writing">Writing</a></li>
                  <li ><a href="#contact">Contact</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <p class="mobile-initials pull-right">DO</p>
              </div>
            </div>
          </header>
          <!-- About -->
          <div class="row">
            <div class="col-md-12 " id="about">
              <p class="text-center about">Hi!
                I’m Dami and I write, & build web things. Like most toddlers,
                I learnt to write when I was about 3 and haven’t stopped since.
                18yrs after conquering pen holding, I accidentally fell in love with
                coding and have been on a quest to learn and teach as much as possible.

                I‘m a published poet via my self & Eyewear Poetry, & I have started an organisation,
                <span class="mono"><a href="http://www.blackgirltech.co.uk">blackgirl.tech</a></span>, that creates a safe space for girls and
                women of colour to learn more about tech and how to code.

                Have a gander through the site for some of the things I’ve been working on,
                or if you’re considering hiring me & need a little motivation, check out my resumé.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Coding -->
      <div class=" h-100 w-100 coding bg-maroon-gradient" id="coding">


        <div class="row">
          <div class="col-md-12">
            <p class="text-center intro">Over the last two years I have been able to work on a variety of projects
              from open-source and personal projects to small apps and contributions to work. Have a look at
              some of my favourites below or visit my <a href="https://www.github.com/damzcodes">github</a>
              for the rest.</p>
          </div>
        </div>

        <!-- Desktop Coding -->
        <div class="row hidden-xs">
          <div class="col-md-6">
            <ul>
              <li>
                <h3><a href="https://github.com/diaspora/diaspora/pulls?q=is%3Apr+is%3Aclosed+author%3Adamzcodes">diaspora*</a></h3>
                <p> An open source alternative to Facebook that focuses on keeping information
                  private and decentralised.</p>
                <p><span class="tech">Technologies:</span>
                  Ruby / Rails / Handlebars / Moustache / Backbone
                </p>
              </li>

               <li>
                <h3><a href="https://github.com/diaspora/diaspora/pull/5171">acts-as-taggable</a></h3>
                <p> A gem which allows users to add and track tags.</p>
                <p><span class="tech">Technologies:</span>
                  Ruby
                </p>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>
                <h3><a href="https://github.com/damzcodes/SinatraImageDownloader">Sinatra Image Downloader</a></h3>
                <p> An extension to the current image downloader that allows users to download
                  Facebook images from the LiveLink imageloader.</p>
                <p><span class="tech">Technologies:</span>
                  Ruby / Sinatra
                </p>
              </li>

              <li>
                <h3><a href="https://github.com/damzcodes/MegaMenu">MegaMenu</a></h3>
                <p> An early draft for a mega menu for one of our clients.</p>
                <p><span class="tech">Technologies:</span>
                  HTML / CSS / JS / Jquery
                </p>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Coding -->
        <div class="row visible-xs mobile-coding">
          <div class="col-xs-6">
            <ul>
              <li>
                <h3><a href="https://github.com/diaspora/diaspora/pulls?q=is%3Apr+is%3Aclosed+author%3Adamzcodes">diaspora*</a></h3>
                <p> An open source alternative to Facebook that focuses on keeping information
                  private and decentralised.</p>
                <p><span class="tech">Technologies:</span>
                  Ruby / Rails / Handlebars / Moustache / Backbone
                </p>
              </li>

               <li>
                <h3><a href="https://github.com/diaspora/diaspora/pull/5171">acts-as-taggable</a></h3>
                <p> A gem which allows users to add and track tags.</p>
                <p><span class="tech">Technologies:</span>
                  Ruby
                </p>
              </li>
            </ul>
          </div>
          <div class="col-xs-6">
            <ul>
              <li>
                <h3><a href="https://github.com/damzcodes/SinatraImageDownloader">Sinatra Image Downloader</a></h3>
                <p> An extension to the current image downloader that allows users to download
                  Facebook images from the LiveLink imageloader.</p>
                <p><span class="tech">Technologies:</span>
                  Ruby / Sinatra
                </p>
              </li>

              <li>
                <h3><a href="https://github.com/damzcodes/MegaMenu">MegaMenu</a></h3>
                <p> An early draft for a mega menu for one of our clients.</p>
                <p><span class="tech">Technologies:</span>
                  HTML / CSS / JS / Jquery
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <!-- Writing -->
      <div id="writing" class="bg-navy-gradient w-100 writing">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <p class=" intro">I am fortunate enough to have two published collections of poetry, been a Roundhouse Slam Finalist
            and a Barbican Young Poet Alumn. I love poetry and love writing. Here are two of my favourites, you can
            check out some more random stuff on my <a href="http://www.damiiscribbles.wordpress.com">blog</a> OR you
            can purchase my pamphlets below.</p>
          </div>
        </div>

        <!-- Desktop Poems -->
        <div class="row hidden-xs">
          <div class="col-md-6 col-sm-6 poems">
            <h3>When Winter Kills</h3>
            <p>Black babes don’t grow on evergreen trees.
              They fall like autumn leaves;
              bodies brown, bodies gold,
              winter knocks the life from their throats.

              This chill is too familiar.
              Creeps up your spine,
              crawls through your veins,
              sits at the bottom of your stomach -
              the troll under the bridge,
              all shadow-hidden and legendary.

              And this cold isn’t kind to folk
              who are used to drinking sunlight
              for breakfast.

              So, remember to wrap your babe up warm.
              Tell him not to run along the sleet,
              before all he is, is a memory in ice.
            </p>
            <p> <em>From '#000000'</em></p>
            <a class="btn-default btn" href="http://www.amazon.co.uk/000000-black-Damilola-Odelola-ebook/dp/B00RJHKJ2G">buy</a>
          </div>

          <div class="col-md-6 col-sm-6 poems">
            <h3>Lost #8</h3>
            <p>The sun is sinking under the waves,
              Casting purples and pinks across the horizon,
              And you’re laughing – sincerely & joyful –
              This is where I realize I’ve missed the music of your laugh.

              Simon says it’s natural to grow apart from friends.
              I tell him that this is not natural.
              This is sawing off your right hand,
              Very slowly,
              With no anaesthetic,
              but never quite believing it’s gone.
            </p>

             <h3>Found #4</h3>
            <p>I proposed to her in the record shop near Satay bar.
              I made them play ‘In a Sentimental Mood’,
              And we danced in the scent of dust and age.
            </p>
            <p> <em>From 'Lost & Found'</em></p>
            <a class="btn-default btn" href="https://store.eyewearpublishing.com/collections/eyewear-20-20-pamphlet-series/products/lost-found">buy</a>
          </div>
        </div>

        <!-- Mobile Poems -->
        <div class="row visible-xs">
          <div class="col-xs-6 col-sm-6 poems">
            <h3>When Winter Kills</h3>
            <p>Black babes don’t grow on evergreen trees.
              They fall like autumn leaves;
              bodies brown, bodies gold,
              winter knocks the life from their throats.

              This chill is too familiar.
              Creeps up your spine,
              crawls through your veins,
              sits at the bottom of your stomach -
              the troll under the bridge,
              all shadow-hidden and legendary.

              And this cold isn’t kind to folk
              who are used to drinking sunlight
              for breakfast.

              So, remember to wrap your babe up warm.
              Tell him not to run along the sleet,
              before all he is, is a memory in ice.
            </p>
            <p> <em>From '#000000'</em></p>
            <a class="btn-default btn" href="http://www.amazon.co.uk/000000-black-Damilola-Odelola-ebook/dp/B00RJHKJ2G">buy</a>
          </div>

          <div class="col-xs-6 col-sm-6 poems">
            <h3>Lost #8</h3>
            <p>The sun is sinking under the waves,
              Casting purples and pinks across the horizon,
              And you’re laughing – sincerely & joyful –
              This is where I realize I’ve missed the music of your laugh.

              Simon says it’s natural to grow apart from friends.
              I tell him that this is not natural.
              This is sawing off your right hand,
              Very slowly,
              With no anaesthetic,
              but never quite believing it’s gone.
            </p>

             <h3>Found #4</h3>
            <p>I proposed to her in the record shop near Satay bar.
              I made them play ‘In a Sentimental Mood’,
              And we danced in the scent of dust and age.
            </p>
            <p> <em>From 'Lost & Found'</em></p>
            <a class="btn-default btn" href="https://store.eyewearpublishing.com/collections/eyewear-20-20-pamphlet-series/products/lost-found">buy</a>

          </div>
        </div>
      </div>

      <!-- Contact -->
      <div class="h-100 w-100 bg-black" id="contact">
        <div class="row">
          <div class="col-md-12">
            <p class="about text-center">
              If you'd like me to talk at your event, lead out a workshop or you just want to say "hi",
              get in touch.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center icons">
            <a class="icon" href="https://www.twitter.com/damiodelola"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="https://www.github.com/damzcodes"><i class="fa fa-github"></i></a>
            <a class="icon" href="mailto:me@damilolaodelola.com"><i class="fa fa-envelope"></i></a>
          </div>
        </div>

        <footer class="hidden-xs">
          <ul class="list-inline text-center">
            <li>Damilola Odelola</li>
            <li>&copy</li>
            <li>2015</li>
            <li>v1.3</li>
          </ul>
        </footer>
      </div>
      <footer class="mobile-footer visible-xs">
        <ul class="list-inline text-center">
          <li>Damilola Odelola</li>
          <li>&copy</li>
          <li>2015</li>
          <li>v1.3</li>
        </ul>
      </footer>
